@import url(../variables.css);

.tesla__account--nav {
  background-color: var(--tesla-black);
}

.account__nav--logo {
  filter: invert();
}

.account__nav--link,
.account__nav--link--hidden {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  color: var(--tesla-white);
  transition: all 500ms ease;
}

.account__nav--list {
  margin-left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account__nav--link:hover {
  background-color: var(--tesla-semiwhite);
  border-radius: 8px;
}

.account__nav--menu--btn {
  z-index: 3;
  width: 56px;
  transition: all 500ms ease;
}

.account__nav--menu--btn:hover {
  cursor: pointer;
}

.account__nav--link--hidden {
  color: transparent;
  transition: all 100ms ease;
}

