@import url(../variables.css);



.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.footer__link {
  font-size: 12px;
  font-weight: 500;
  color: var(--tesla-grey);
  margin: 0 8px;
}