:root {
  --tesla-black: #171A20; 
  --tesla-semiblack: #3f434a1e;
  --tesla-grey: #171A20CC;
  --tesla-white: #F4F4F4;
  --tesla-semiwhite: #8e8e8e;
  --tesla-blue: #1B8BED;
  --tesla-frosted-blue: #92ccff;
  --tesla-red: #E82127;
}